*.png
!imgs/sprout_hdl.png
*.pyc
*.v
*.aig
!src/sprouthdl/arithmetic/int_multipliers/data/optimized/*/*.aig
*.aag
*.map
!src/sprouthdl/arithmetic/int_multipliers/data/optimized/*/*.map
*.dot
*.vscode
*/__pycache__/*
*.csv
!src/sprouthdl/arithmetic/eval/best_configs.csv
output/*
*.history
*.parquet
*.pdf
playground_nogit
data/*
*.vcd
*.dat
*.json
!src/sprouthdl/arithmetic/eval/best_configs.json
*.zip
.devcontainer/*
.claude
*.env
benchmarks/*
issue/*